/* Write your global styles here, in PostCSS syntax */
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
